# Ignorar a pasta de dependências
node_modules/

# Ignorar resultados de testes
coverage/

# Logs
logs
*.log
npm-debug.log*

# Sistema operacional
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

# Ambiente
.env
.env.local
